@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter_18pt-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Inter_18pt-Medium.ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Inter_18pt-SemiBold.ttf');
}


:root {
    font-size: 62.5%;
    --color-text-primary: #18216D;
    --color-text-secondary: rgba(24, 33, 109, 0.6);
    --color-bg-light: #F5F5F5;
    --color-button: #00ECD0;

    --font-family-base: 'Inter', 'Arial', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
}

h1 {
    color: var(--color-text-primary);
}

body {
    background-color: var (--color-bg-light);
    color: var(--color-text-primary);
    font-family: var(--font-family-base);
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: var(--font-weight-regular);
    letter-spacing: 0rem;
}

.wrapper {
    padding: 0 16px;
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

header {
    padding: 41px 0;
}

.menu {
    display: none;
    position: absolute;
    background-color: var(--color-bg-light);
    font-size: 2rem;
}

.menu li {
    border: 1px solid var(--color-text-secondary);
    padding: 30px;
}

.burger {
    cursor: pointer;
    display: inline-block;
    width: 20px;
}

input[type=checkbox]:checked~.menu {
    display:inline-block;
}

#toggle {
    display: none;
}

h1, 
h2, 
h3 {
    font-weight: var(--font-weight-semibold);
}

h1 {
    font-size: 2.8rem;
    line-height: 2.7rem;
    letter-spacing: 0rem;
    margin: 20px 0;
}

h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
}

h3 {
    font-size: 2rem;
    line-height: 2rem;
}

a {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
}

p {
    color: var(--color-text-primary);
}

p strong {
    color: var(--color-text-secondary);
}

a.btn {
    display: block;
    margin: 37px 0;
    background-color: var(--color-button);
    color: var(--color-text-primary);
    padding: 12px;
    border-radius: 6px;
    max-width: 120px;
    text-align: center;
}

img.girls {
    width: 50%;
}